html {
  /* Adiciona um efeito de rolagem suave quando links internos são clicados */
  scroll-behavior: smooth;
  /* Define o tamanho da fonte base como 10px (para facilitar o uso de rem) */
  font-size: 62.5%;
  /* Garante que o elemento html não seja maior que a largura da viewport */
  max-width: 100vw;
}

body {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  justify-content: center;
  font-family: "Geist";
  font-size: 1.6rem;
  color: #212121;
  background-color: #F5F5F5;

  /* Garante uma largura mínima de 320px para evitar layouts quebrados em telas pequenas */
  min-width: 32rem;
  min-height: 100vh;

  /* Adiciona um preenchimento ao redor do conteúdo do body usando uma variável CSS */
  padding: 1rem;

  /* Força a exibição da barra de rolagem vertical, evitando o deslocamento de elementos quando o conteúdo se torna longo o suficiente para precisar da barra */
  overflow-y: scroll;

  max-width: 144rem;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

* {
  /* Altera o modelo de caixa para incluir padding e border na largura e altura de um elemento */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 50px;
}

a {
  /* color: #0ff; */
  text-decoration: none;
}

h1 {
  font-size: 3.2rem;
  margin: 1rem;
}

h2 {
  font-size: 2.8rem;
  margin: 0.6rem;
}

h3 {
  font-size: 1.6rem;
  margin: 0.3rem;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  border: 3px solid #000;
}

.botao {
  background-color: #00f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  margin: 10px;
}

@media screen and (max-width: 960px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 37.2%;
  }
}

