
body {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  color: #f00;
}

h1 {
  font-size: 50px;
}

a {
  color: #0ff; 
  text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column; 
    border: 3px solid #000;
}

.botao {
    background-color: #00f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    width: fit-content;
    margin: 10px;
}